html {
    scroll-behavior: smooth;
}
body {
    background-color: #eee;
}
.img {
    max-width: 100%;
    display: block;
}
h2 {
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}

.container {
    max-width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-areas: 
        ". . navItem navItem navItem navItem . ."
        ". . . . . . . ."
        ". main main main main main main .";
    grid-auto-rows: auto;
}
/* nav */
.nav {
    display: grid;
    grid-template-areas: 
        ". trigger ."
        /* "navItem navItem navItem"
        "navItem navItem navItem"
        "navItem navItem navItem"
        "navItem navItem navItem" */
        ;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: #dddddde0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav.active {
    grid-template-areas: 
        ". trigger ."
        "navItem navItem navItem"
        "navItem navItem navItem"
        "navItem navItem navItem"
        "navItem navItem navItem";
}
@media (min-width: 720px) {
    .nav {
        display: grid;
        grid-template-areas: ". . navItem navItem navItem navItem trigger .";
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        background-color: #dddddde0;
        position: sticky;
        top: 0;
        z-index: 999;
    }
    .nav.active {
        grid-template-areas: ". . navItem navItem navItem navItem trigger .";
    }
}
.nav_toggle {
    grid-area: trigger;
    width: 32px;
    aspect-ratio: 1;
    background-image: url("imgs/ham.png");
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    justify-self: center;
    cursor: pointer;
    margin-block: 5px;
}
@media (min-width: 720px) {
    .nav_toggle {
        grid-area: trigger;
        width: 32px;
        aspect-ratio: 1;
        background-image: none;
        border: none;
        background-color: transparent;
        justify-self: center;
        cursor: initial;
        margin-block: 5px;
    }    
}
.list {
    display: grid;
    grid-area: navItem;
    grid-auto-flow: row;
    column-gap: 0.5rem;
    text-align: center;
    background-color: #666;
    height: 0;
    grid-column: 1 / -1;
}
@media (min-width: 720px) {
    .list {
        display: grid;
        grid-area: navItem;
        grid-auto-flow: column;
        column-gap: 0.5rem;
        text-align: center;
        background-color: transparent;
        height: initial;
    }    
}
.list.active {
        height: initial;
}
.list > .item {
    align-self: center;
    line-height: 1.5rem;
    margin-block: .8rem;
}
.nav_item {
    color: transparent;
    /* transition: .5s; */
}
@media (min-width: 720px) {
    .nav_item {
        color: #666;
        transition: .5s;
    }
    .nav_item:hover {
        font-size: 1.2em;
    }    
}
.nav_item.active {
    color: #eee;
    /* transition: .5s; */
}
/* nav_over */
/* header */
header {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
}
header > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: .3;
}
/* header_over */
/* main */
main {
    display: grid;
    grid-area: main;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-areas: 
        ". about about about about ."
        ". exp exp exp exp ."
        "port port port port port port"
        ". skill skill skill skill ."
        ;
    margin: 1.8rem 0;
    padding: 3rem 0;
}
/* about */
.about {
    display: grid;
    grid-auto-flow: column;
    grid-area: about;
    grid-template-areas: 
        "contact contact objective objective"
        "intro intro intro intro";
    margin-block: 1.2rem;
    padding-top: 5rem;
}
.about > div {
    text-align: center;
}
/* contact */
.contact {
    grid-area: contact;
}
.objective {
    grid-area: objective;
}
.contact_content, .job {
    font-size: 1.4rem;
    padding: 1.2rem;
}
.job {
    padding-top: 1.8rem;
    font-weight: bold;
}
.intro {
    grid-area: intro;
    font-size: 1.8rem;
    font-weight: bold;
    padding-block: 3rem;
}
/* exp */
.exp {
    grid-area: exp;
    text-align: center;
    margin-block: .8rem;
    padding-block: 2rem;    
}
.education, .work {
    margin-block: 3rem;
}
.edu_content {
    padding-block: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.work > div {
    font-weight: bold;
}
.content_title {
    font-size: 1.3rem;
    padding-top: 1.5rem;
}
.content_text {
    width: 65%;
    margin-inline: auto;
    font-size: 1.2rem;
    text-align: left;
    padding-top: .5rem;
}
/* main_over */
/* portfolio */
.portfolio {
    display: grid;
    grid-area: port;
    grid-template-areas: 
        ". title title ."
        ". work_1 work_1 ."
        "item_content_1 item_content_1 item_content_1 item_content_1"
        ". name_1 name_1 ."
        ". work_2 work_2 ."
        "item_content_2 item_content_2 item_content_2 item_content_2"
        ". work_3 work_3 ."
        "item_content_3 item_content_3 item_content_3 item_content_3"
        ;
    padding-block: 3rem;
}
.works_title {
    grid-area: title;
    text-align: center;
    grid-column: 2 / -2;
    margin-block: 4rem;
}
.portfolio > h3 {
    grid-column: 2 / -2;
    text-align: center;
    margin-block: 1.2rem;
    font-size: 1.4rem;
}
.box {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
        "item item item item"
        ". name name .";
        margin-block: 1.2rem;
}
.box_item {
    grid-column: span 2;
}
.item_name {
    grid-column: 2 / -2;
    text-align: center;
}
.item_l {
    grid-column: span 4;
}
.title_rwd {
    grid-area: work_1;
}
.item_rwd {
    grid-area: item_content_1;
    grid-column: 1 / -1;
}
.title_js {
    grid-area: work_2;
}
.item_js {
    grid-area: item_content_2;
    grid-column: 1 / -1;
}
.title_ui {
    grid-area: work_3;
}
.item_ui {
    grid-area: item_content_3;
    grid-column: 1 / -1;
}
/* portfolio_over */
/* skill */
.skill {
    grid-area: skill;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
        "title title"
        "img img"
        "aca_text aca_text"
        ;
}
.skill_title {
    grid-area: title;
    text-align: center;
}
.aca_img {
    grid-area: img;
}
.aca > div {
    grid-area: aca_text;
    width: 100%;
    text-align: center;
    padding: 5px;
}
/* skill_over */
/* top-button */
.top {
    background-color: #aaa;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    color: #ddd;
    text-align: center;
    line-height: 50px;
    right: 3%;
    bottom: 3%;
    font-size: 1.2rem;
    font-weight: bolder;
    z-index: 998;
    transition: .5s;
    box-shadow: 0 0 .3em .3rem #aaa;
}
.top a {
    color: #ddd;
}
.top:hover {
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.top a:visited {
    color: #ddd;
}
/* top-button_end */
/* footer */
footer {
    box-sizing: border-box;
    background-color: #999;
    margin-top: 5px;
    padding: 20px;
    font-weight: bolder;
}
/* footer_end */